.booking-details {
  border: 1px solid $ash;
  width: 100%;
  margin: 50px 10px;
  padding: 5px 10px;
  border-radius: 10px;
  h5 {
    font-size: 12px;
    color: $secondaryColor;
    font-family: $fontSecondary;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 16px;
    color: $secondaryColor;
    font-family: $fontSecondary;
    font-weight: 700;
  }
  p {
    font-size: 12px;
    color: $secondaryColor;
    font-family: $fontSecondary;
  }
}
